recursive-include gau2grid *.py
recursive-include gau2grid *.npz
recursive-include gau2grid *.pkl

include setup.py
include README.md
include LICENSE
include MANIFEST.in

include versioneer.py
include gau2grid/_version.py
